html,
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

.home,
.about,
.timeline {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
}

.home {
  background-image: url("../assets/cover.jpeg");
}

.about {
  background-image: url("../assets/about.jpeg");
}

.timeline {
  background-image: url("../assets/timeline.jpeg");
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  max-width: 512px;
  margin: auto;
  text-align: center;
}

.intro-content {
  border-radius: 8px;
}

.nav-blur,
.intro-content {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.nav-shadow {
  box-shadow: 0 0 2px 2px #6c757d;
}

.nav-padding {
  padding: 8px;
}

.nav-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-buttons {
  width: 180px;
}

.nav-link {
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0.5rem;
}

.nav a:hover,
.nav i:hover,
.nav-item .active {
  background-color: white;
  color: #6c757d;
  border-radius: 4px;
}

.light-nav:hover,
.nav-item .active-light {
  background-color: white;
  color: #6c757d;
  border-radius: 4px;
}

i {
  color: #6c757d;
  padding: 4px;
}

.social-icons {
  margin: auto;
  width: 128px;
}

.font-white {
  color: white;
}

.font-black {
  color: #6c757d;
}

.project-main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 320px;
}

.project-image {
  height: 320px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex: 1;
  margin-right: 32px;
}

.project-desc {
  flex: 1;
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
  background-color: transparent;
}

.carousel {
  padding: 16px;
  border-radius: 8px;
}

.carousel i {
  font-size: 32px;
}

.carousel-icon {
  color: transparent;
  padding: 100%;
}

.carousel-icon:hover {
  color: white;
}

.about-content,
.timeline-content {
  color: #39393a;
  overflow-y: scroll;
  overflow-x: hidden;
}

.about-content {
  display: flex;
  flex-direction: column;
}

.about-content h1,
.about-content p {
  color: white;
}

.about-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 32px;
}

.card {
  display: flex;
  background-color: transparent;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: none;
  border-radius: 8px;
  flex: 1;
}

.spacing-horizontal {
  width: 32px;
}

.card-img,
.card-img-top {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-img-top {
  padding: 16px 16px 0 16px;
}

.card-title {
  color: white;
}

.card-subtitle {
  color: white;
}

.card-img-top,
.card-body {
  overflow-y: scroll;
  overflow-x: hidden;
}

.card-img-container {
  height: 180px;
  background-size: cover;
  background-position: center;
}

.timeline-point {
  display: flex;
  flex-direction: row;
}

.timeline-point-image,
.timeline-point-desc {
  flex: 1;
  margin: 32px 0;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  padding: 16px;
  border-radius: 8px;
}

.timeline-point-image {
  background-size: cover;
  background-repeat: no-repeat;
}

.timeline-point-desc {
  color: white;
}

.timeline-point-divider {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 2px;
  margin: 0 32px;
  flex: 1;
}

.timeline-point-divider-top,
.timeline-point-divider-bottom {
  background-color: white;
  width: 100%;
  flex: 1;
}

.timeline-point-divider-year {
  text-align: center;
  margin: 4px;
  color: white;
  font-size: 18px;
}
